/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --color-mine: #8fd7ed;
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(220, 12%, 45%);
  --body-color: hsl(220, 100%, 99%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.5rem;
  --title-font-size: 1.1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --card-first-color: hsl(38, 92%, 58%);
  --card-first-color-light: hsl(38, 100%, 78%);
  --card-first-color-alt: hsl(32, 75%, 50%);
  --card-second-color: hsl(195, 75%, 52%);
  --card-dark-color: hsl(212, 40%, 12%);
  --card-white-color: hsl(212, 4%, 95%);
  --card-body-color: hsl(212, 42%, 15%);
  --card-container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --card-body-font: "Bai Jamjuree", sans-serif;
  --card-h2-font-size: 1.25rem;
  --card-normal-font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --primary: #00d285;
    --bg: #ebfaf4;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

ul {
  list-style: none;
}
ul.stclubs li {
  text-indent: 40px;
}
a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 90%;
  margin-inline: 1.5rem;
}

/*=============== Faculty Styles ===============*/
#faculty {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}

#tnpfaculty {
  padding: 0 8vw;
  text-align: center;
}

#tnpfaculty .faculty-box,
#faculty .faculty-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin: 50px 0;
}

.profile img {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}

.profile {
  background: var(--first-color-lighten);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 30px 10px;
  border-radius: 10px;
}

.profile h5 {
  padding-top: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: 900;
}

.profile h6 {
  padding-top: 0.5rem;
  font-size: var(--small-font-size);
  font-weight: 500;
}

.profile p {
  padding-top: 0.5rem;
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

@media (max-width: 1229px) {
  #faculty {
    margin-top: 2rem;
  }
}

/*=============== About department styles ===============*/

.aboutuscontainer {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.row {
  margin-top: 3rem;
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}

.row .imgWrapper {
  overflow: hidden;
  height: 60vh;
  border-radius: 20px;
}

.row .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

@media (max-width: 910px) {
  .row .imgWrapper {
    overflow: hidden;
    height: 40vh;
    border-radius: 20px;
  }
}

@media (max-width: 650px) {
  .row .imgWrapper {
    overflow: hidden;
    height: 30vh;
    border-radius: 20px;
  }
}

.row .imgWrapper img:hover {
  border-radius: 20px;
  transform: scale(1.05);
}

.row .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.row .contentWrapper span.textWrapper {
  display: block;
  color: var(--title-color);
  font-size: var(--big-font-size);
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-weight: 900;
}

.row .dash {
  display: inline-block;
  background: #383f47;
  width: 70px;
  height: 5px;
}

.row .contentWrapper h2 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-weight: 900;
  padding-bottom: 20px;
}

.row .contentWrapper p {
  line-height: 25px;
  padding-bottom: 25px;
  text-align: justify;
}

.row .contentWrapper li {
  padding-bottom: 0.8rem;
  text-align: justify;
}

/*=============== HOD desk styles ===============*/

.hodcontainer {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hodrow {
  margin-top: 3rem;
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}

.hodrow .hodimgWrapper {
  overflow: hidden;
  height: 70vh;
  border-radius: 20px;
}

.hodrow .hodimgWrapper img {
  width: 100%;
  height: 70vh;
  position: center;
  object-fit: cover;
  transition: 0.5s;
}

.hodrow .hodimgWrapper img:hover {
  border-radius: 20px;
  transform: scale(1.25);
}

.hodrow .hodcontentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.hodrow .hodcontentWrapper span.hodtextWrapper {
  display: block;
  color: var(--title-color);
  font-size: var(--big-font-size);
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-weight: 900;
}

.hodrow .dash {
  display: inline-block;
  background: #383f47;
  width: 70px;
  height: 5px;
}

.hodrow .hodcontentWrapper h2 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-weight: 900;
  padding-bottom: 20px;
}

.hodrow .hodcontentWrapper p {
  line-height: 25px;
  padding-bottom: 25px;
  text-align: justify;
  text-indent: 50px;
}

.hodrow .hodcontentWrapper li {
  padding-bottom: 0.8rem;
  text-align: justify;
}

@media (max-width: 1240px) {
  .hodrow {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .hodrow .hodcontentWrapper {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .hodrow .hodimgWrapper img {
    height: 30vh;
  }

  .hodrow .hodimgWrapper {
    height: 30vh;
  }
}

.key-hodrow {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  /* padding: 3rem 0; */
}

.key-hodrow .hodimgWrapper {
  overflow: hidden;
  height: 70vh;
  border-radius: 20px;
}

.key-hodrow .hodimgWrapper img {
  width: 100%;
  height: 70vh;
  position: center;
  object-fit: cover;
  transition: 0.5s;
}

.key-hodrow .hodimgWrapper img:hover {
  border-radius: 20px;
  transform: scale(1.25);
}

.key-hodrow .hodcontentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.key-hodrow .hodcontentWrapper span.hodtextWrapper {
  display: block;
  color: var(--title-color);
  font-size: var(--big-font-size);
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-weight: 900;
}

.key-hodrow .dash {
  display: inline-block;
  background: #383f47;
  width: 70px;
  height: 5px;
}

.key-hodrow .hodcontentWrapper h2 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-weight: 900;
  padding-bottom: 20px;
}

.key-hodrow .hodcontentWrapper p {
  line-height: 25px;
  padding-bottom: 25px;
  text-align: justify;
  text-indent: 50px;
}

.key-hodrow .hodcontentWrapper li {
  padding-bottom: 0.8rem;
  text-align: justify;
}

@media (max-width: 1240px) {
  .key-hodrow {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .key-hodrow .hodcontentWrapper {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .key-hodrow .hodimgWrapper img {
    height: 30vh;
  }

  .key-hodrow .hodimgWrapper {
    height: 30vh;
  }
}

@media (max-width: 400px) {
  .key-hodrow .hodimgWrapper img {
    height: 25vh;
  }

  .key-hodrow .hodimgWrapper {
    height: 25vh;
  }
}

/*=============== TimeTable styles ===============*/

.timetablesection {
  display: grid;
  margin: 4rem 4rem;
  margin-bottom: 8rem;
  place-items: center;
}

.timetablesection1 {
  display: grid;
  margin: 8rem 8rem 4rem 4rem;
  place-items: center;
}

.timetablesection .tabdet {
  display: none;
}

.timetablesection h2 {
  padding-left: 30px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.content-table thead tr {
  background-color: var(--title-color);
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  text-align: center;
  padding: 12px 15px;
}

.content-table td {
  border-left: 1px solid #dddddd;
}

.content-table th {
  border-left: 1px solid #ffffff;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: black;
  background-color: var(--color-mine);
}

.timetablesection h1 {
  text-align: center;
}

.ttstext {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

.ttselect-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.ttselect-menu {
  max-width: max-content;
}

.ttselect-menu,
.ttselect-menu * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.ttselect-menu {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
}

.ttselect-menu select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ttselect-menu select option {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ttselect-menu select:active,
.ttselect-menu select:focus {
  outline: none;
  box-shadow: none;
}

.ttselect-menu:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

@media (max-width: 705px) {
  .timetablesection {
    display: grid;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 10rem;
  }
}

/*=============== Laboratory styles ===============*/
.labcontainer {
  margin-top: 8rem;
  min-height: 100vh;
}

.labcontainer h1 {
  padding-bottom: 5rem;
  text-align: center;
}

.lab {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.labcontainer .labwrapper img {
  max-width: 290px;
  float: left;
  /* border: 3px solid var(--first-color-lighten); */
  border-radius: 10px;
  margin-right: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.651);
}

.labtitle {
  text-align: center;
  margin-top: 10px;
}

.labwrapper {
  margin: 10px;
  width: 80%;
}

.labtext-box h2 {
  font-size: var(--big-font-size);
}

.labtext-box p {
  font-size: var(--normal-font-size);
  text-align: justify;
}

@media (max-width: 450px) {
  .labcontainer .labwrapper img {
    max-width: 250px;
    margin-bottom: 10px;
  }
}

/*=============== Result styles ===============*/
#results {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
  margin-bottom: 5rem;
}

#results h1 {
  font-size: 2rem;
}

#results .results-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 30px;
}

.year-title {
  padding-top: 5rem;
  padding-left: 2rem;
  text-align: left;
}

.results-profile img {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
}

.results-profile {
  background: var(--first-color-lighten);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 30px 10px;
  border-radius: 10px;
}

.results-profile h5 {
  padding-top: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: 900;
}

.results-profile h6 {
  padding-top: 0.5rem;
  font-size: var(--small-font-size);
  font-weight: 500;
}

.results-profile p {
  padding-top: 0.5rem;
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

@media (max-width: 1229px) {
  #results {
    margin-top: 2rem;
  }
}

@media (max-width: 930px) {
  #results .results-box {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

/*=============== association styles ===============*/

.ass {
  margin-top: 5rem;
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.discordapp.com/attachments/851837926496796694/1229129886443245618/aces2.jpeg?ex=662e8f69&is=661c1a69&hm=3cbed6a775b6d43108c46542fde233cebeb654044e771aa076253f035205980c&");
  background-position: bottom;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ass .home {
  padding-top: 8rem;
  color: var(--first-color-lighten);
  text-align: center;
}

.ass .home h3 {
  font-size: 4vmin;
  text-shadow: 2px 2px 4px #000000cb;
  font-family: var(--body-font);
  font-weight: 700;
}

.ass .home .line {
  width: 150px;
  height: 4px;
  margin: 10px auto;
  background: var(--first-color);
  border-radius: 5px;
}

.ass .home h1 {
  font-size: 7vmin;
  font-family: var(--body-font);
  margin-top: 10px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000000cb;
  font-weight: 900;
}

.ctn {
  align-items: center;
  appearance: none;
  background-color: var(--body-color);
  background-image: linear-gradient(
    1deg,
    var(--first-color),
    var(--color-mine) 99%
  );
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--c);
  cursor: pointer;
  display: inline-flex;

  font-size: 3vmin;
  font-weight: 900;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.ctn:active,
.ctn:focus {
  outline: none;
}

.ctn:hover {
  background-position: -20px -20px;
}

.ctn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.asscontainer {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.assrow {
  margin-top: 3rem;
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
  place-items: center;
}

.assrow .assimgWrapper {
  overflow: hidden;
  border-radius: 20px;
  width: 350px;
  height: 350px;
}

.assrow .assimgWrapper img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  position: center;
  transition: 0.5s;
}

.assrow .assimgWrapper img:hover {
  border-radius: 20px;
  transform: scale(1.25);
}

.assrow .asscontentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.assrow .asscontentWrapper span.asstextWrapper {
  display: block;
  color: var(--title-color);
  font-size: var(--big-font-size);
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-weight: 900;
}

.assrow .dash {
  display: inline-block;
  background: #383f47;
  width: 60px;
  height: 5px;
}

.assrow .asscontentWrapper h2 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-weight: 900;
  padding-bottom: 20px;
}

.assrow .asscontentWrapper p {
  line-height: 25px;
  padding-bottom: 25px;
  text-align: justify;
}
.assrow .asscontentWrapper ul {
  line-height: 25px;
  padding-bottom: 25px;
  text-align: justify;
}

.assrow .asscontentWrapper li {
  padding-bottom: 0.8rem;
  text-align: justify;
}

@media (max-width: 1240px) {
  .assrow {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .assrow .asscontentWrapper {
    padding-left: 0;
  }

  .ass {
    /* background-image: none; */
    width: 100%;
    height: 60vh;
  }
}

@media (max-width: 425px) {
  .ass {
    /* background-image: none; */
    width: 100%;
    height: 50vh;
  }
  .assrow .assimgWrapper img {
    width: 300px;
    height: 300px;
  }
}

/*=============== Members CARD ===============*/
.memtext {
  text-align: center;
  font-size: 2rem;
  color: var(--title-color);
}

.memcard__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 60px;

  margin-bottom: 30px;
}

.memcard__container {
  padding-block: 5rem;
}

.memcard__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.memcard__article {
  width: 390px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.memcard__image {
  position: relative;
  background-color: var(--first-color-lighten);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}

.memcard__data {
  background-color: var(--card-container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.memcard__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.memcard__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.memcard__name {
  font-size: var(--card-h2-font-size);
  color: var(--card-second-color);
  margin-bottom: 0.75rem;
}

.mem__desig {
  font-weight: 900;
  color: var(--first-color-lighten);
  font-size: var(--title-font-size);
  padding-bottom: 0.75rem;
}

.mem-container .swiper-button-prev:after,
.mem-container .swiper-button-next:after {
  content: "";
}

.mem-container .swiper-button-prev,
.mem-container .swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.mem-container .swiper-button-prev {
  left: 0;
}

.mem-container .swiper-button-next {
  right: 0;
}

/* .mem-container .swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
} */
.mem-container .divpag {
  margin-top: 40px;
}

/* .mem-container .swiper-pagination-bullet-active {
  background-color: var(--second-color);
} */
/*=============== Member Breakpoints ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .mem-container .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .mem-container .card__content {
    margin-inline: 3rem;
  }

  .mem-container .swiper-button-next,
  .mem-container .swiper-button-prev {
    display: block;
    /* margin-top: -0.5rem; */
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .mem-container .card__container {
    max-width: 1120px;
  }

  .mem-container .swiper-button-prev {
    left: -1rem;
  }

  .mem-container .swiper-button-next {
    right: -1rem;
  }
}

.syllabuses {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  padding: 40px 100px;
  text-align: center;
}

.syllabuses .syllabustitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.syllabusBox {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 40px;
  background: var(--first-color-lighten);
  height: auto;
}

.syllabuses .syllembed {
  height: 975px;
}

.syllabuses .syllbtndiv {
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.syllabuses .syllButton {
  margin: 4px 4px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: max-content;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.syllabuses .syllButton:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.syllabuses .syllButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.syllabuses .syllButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.syllabuses .syllButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.syllabuses .syllButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.syllabuses .syllButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.syllabuses .syllButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.syllabuses .syllButton:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.clearbttndiv {
  display: flex;
  justify-content: end;
}

.clearbttndiv .clear-bttn {
  padding: 1rem;
}

.clear-bttn i {
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .syllabuses {
    padding: 40px 20px;
  }

  .syllabuses .syllembed {
    height: 500px;
  }

  .syllabusBox {
    padding: 20px;
  }

  .clearbttndiv .clear-bttn {
    display: none;
  }

  .syllabuses .syllabustitle {
    margin-bottom: 40px;
  }
}

.keyper-container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
.main#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#somansir-popup,
#milindjoshi-popup,
#prashantkasabe-popup,
#bharatBhusanSud-popup,
#principal-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* Adjust the width as per your preference */
  max-width: 1000px;
  /* Set maximum width for larger screens */
  padding: 5px;
  padding-top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: var(--first-color-lighten);
  overflow-y: auto;
  /* Enable vertical scrolling if needed */
  max-height: 80vh;
  /* Set maximum height for the popup */
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 20px;
}

#somansir-popup::-webkit-scrollbar,
#milindjoshi-popup::-webkit-scrollbar,
#prashantkasabe-popup::-webkit-scrollbar,
#bharatBhusanSud-popup::-webkit-scrollbar,
#principal-popup::-webkit-scrollbar {
  display: none;
}

#somansir-popup.active,
#principal-popup.active,
#milindjoshi-popup.active,
#prashantkasabe-popup.active,
#bharatBhusanSud-popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  top: 50%;
}

#admi-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  /* Adjust the width as per your preference */

  /* Set maximum width for larger screens */
  padding: 5px;
  padding-top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: var(--first-color-lighten);
  overflow-y: auto;
  /* Enable vertical scrolling if needed */
  max-height: 80vh;
  /* Set maximum height for the popup */
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 20px;
}

#admi-popup::-webkit-scrollbar {
  display: none;
}

#admi-popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  top: 50%;
}

/* #somansir-popup .managementbuttondiv,
#milindjoshi-popup .managementbuttondiv,
#prashantkasabe-popup .managementbuttondiv,
#bharatBhusanSud-popup .managementbuttondiv,
#principal-popup .managementbuttondiv {
  display: flex;
  justify-content: flex-end;
} */

#somansir-popup button,
#milindjoshi-popup button,
#prashantkasabe-popup button,
#bharatBhusanSud-popup button,
#principal-popup button {
  margin-right: 5px;
}

.keypersons {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.keypersons .keypersonstitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.keypersonsBox {
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 40px;
  background: var(--first-color-lighten);
  height: auto;
}

.keypersons .keypersonsembed {
  height: 975px;
}

.keypersons .keypersonsbtndiv {
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.keypersonsButton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.keypersonsButton2 {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hodcontent .keypersonsButton2 {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  margin: auto;
}

.key-desig {
  font-size: 1rem;
}

.keypersonsButton img {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: center;
}

.keypersonsButton2 img {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

@media (max-width: 472px) {
  .keypersonsButton2 img {
    border-radius: 25px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: center;
  }
}

@media (max-width: 1024px) {
  .keypersons {
    padding: 40px 20px;
  }

  .keypersons .keypersonsembed {
    height: 500px;
  }

  .keypersonsBox {
    padding: 20px;
  }

  .clearbttndiv .clear-bttn {
    display: none;
  }
}

#admimain {
  margin-top: 10rem;
}

.adm-registration-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.adm-form {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  /* Increased padding */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.adm-h2 {
  text-align: center;
  margin-bottom: 20px;
}

.adm-form-group {
  margin-bottom: 20px;
  /* Increased margin */
}

.adm-label {
  display: block;
  margin-bottom: 10px;
  /* Adjusted margin */
  font-weight: bold;
  font-family: var(--body-font);
  margin-right: 10px;
  margin-top: 20px;
}

.adm-form-group .adm-input[type="checkbox"] {
  padding: 10px;
  margin-right: 7px;
}

.adm-form-group label {
  margin-right: 20px;
}

.adm-input[type="text"],
.adm-input[type="email"],
.adm-select,
.adm-textarea {
  width: 100%;
  padding: 12px;
  /* Increased padding */
  margin-bottom: 10px;
  /* Adjusted margin */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--body-font);
}

.adm-textarea {
  font-family: var(--body-font);
  resize: none;
  min-height: 220px;
  margin-bottom: 20px;
}

.adm-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath fill='%23000000' d='M6 6L0 0h12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 30px;
}

#adm-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adm-button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: max-content;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.adm-button:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.adm-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.adm-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.adm-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.adm-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.adm-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.adm-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.adm-button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

@media screen and (max-width: 768px) {
  .adm-form {
    width: 90%;
    padding: 20px;
  }

  .adm-input[type="text"],
  .adm-input[type="email"],
  .adm-select,
  .adm-textarea {
    font-size: 14px;
  }
}

.adm-procedure {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.adm-procedure .proceduretitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.procedureBox {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 40px;
  background: var(--first-color-lighten);
  height: auto;
}

.adm-procedure .procedureembed {
  height: 975px;
}

.adm-procedure .procedurebtndiv {
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.procedureButton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.procedureButton2 {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  margin: auto;
}

.adm-procedure {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .adm-procedure {
    padding: 40px 20px;
  }

  .procedureBox {
    padding: 20px;
  }
}

.adm-procedure p {
  width: 60%;
  margin: auto;
  text-align: justify;
  margin-bottom: 40px;
}

.procedurebtndiv {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.procedurebtndiv li {
  margin-bottom: 10px;
}

.notices {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.notices .noticestitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.noticesBox {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 40px;
  background: var(--first-color-lighten);
  height: auto;
}

.notices .noticesembed {
  height: 975px;
}

.notices .noticesbtndiv {
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.notices .noticesButton {
  margin: 4px 4px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: max-content;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.notices .noticesButton:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.notices .noticesButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.notices .noticesButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.notices .noticesButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.notices .noticesButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.notices .noticesButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.notices .noticesButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.notices .noticesButton:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.clearbttndiv {
  display: flex;
  justify-content: end;
}

.clearbttndiv .clear-bttn {
  padding: 1rem;
}

.clear-bttn i {
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .notices {
    padding: 40px 20px;
  }

  .notices .noticesembed {
    height: 500px;
  }

  .noticesBox {
    padding: 20px;
  }

  .clearbttndiv .clear-bttn {
    display: none;
  }
}

.brochure {
  margin-top: 5rem;
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.brochure .brochuretitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.brochureBox {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 40px;
  background: var(--first-color-lighten);
  height: auto;
}

.brochure .brochureembed {
  height: 975px;
}

@media (max-width: 1024px) {
  .brochure {
    padding: 40px 20px;
  }

  .brochure .brochureembed {
    height: 500px;
  }

  .brochureBox {
    padding: 20px;
  }
}

.photo-container {
  margin-bottom: 2vw;

  width: 100%;
}

.photo-container #pho-title {
  font-size: 4vmin;
  text-align: center;
  color: var(--title-color);
}

.pho-container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.pho-title {
  margin-bottom: 2rem;
}

.photo-gallery {
  display: flex;
  gap: 20px;
}

.photo-gallery .pho-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 20px;

  object-fit: cover;
}
@media (max-width: 662px) {
  .photo-container #pho-title {
    font-size: 6vmin;
  }
}
@media only screen and (max-width: 768px) {
  .photo-gallery {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .photo-container #pho-title {
    font-size: 8vmin;
  }
}
